//COLORS
$color-primary-1: #0ab03f;
$color-primary: #e6ea95e0;
$color-primary-light: #f5f7bd;
$color-primary-dark: #2c2044e3;

$color-gray-dark: #777;
$color-gray-dark-1: #999;
$color-gray-dark-2: #333;


$color-gray-light: #eee;


$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f4fbe9c4;

$color-secondary-light: #f4791f;
$color-secondary-dark: #aab577;

$color-tertiary-light: #ffd452;
$color-tertiary-dark: #544a7d;



//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;

//Font
$default-font-size: 1.8rem;

// background: #544a7d;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to top, #ffd452, #544a7d);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to top, #ffd452, #544a7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



// background: #659999;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to top, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to top, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */