.footer {
  background-color: $color-gray-dark-2;
  padding: 10rem 0;
  font-size: 1.4rem;


  @include resposiveDesign(tablet) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 2px solid $color-gray-dark-1;
    padding-top: 2rem;
    display: inline-block;

    @include resposiveDesign(mini-tablet) {
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    @include resposiveDesign(mini-tablet) {
      margin: 0 1.5rem;
    }

    @include resposiveDesign(phone) {
      font-size: 1.1rem;

    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__copy-right {
    color: rgba($color-gray-dark-1, 0.4);
    border-top: 2px solid $color-gray-dark-1;
    padding-top: 2rem;
    display: inline-block;

    @include resposiveDesign(mini-tablet) {
      font-size: 1.4rem;
      width: 100%;

    }
  }

  &__link {

    &:link,
    &:visited {
      color: $color-gray-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);

    }
  }
}