.feature-box {
  background-color: $color-primary;
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform .3s;
  margin: 0 auto;

  @include resposiveDesign(mini-tablet) {
    padding: 2rem;
    width: 50rem;
  }

  @include resposiveDesign(phone) {
    width: 40rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    color: $color-primary-dark;
    background-image: linear-gradient(to right bottom,
        $color-primary-light,
        $color-primary-dark );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;



    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }

    &__text {}

    max-width: 20rem;
  }


  // @include resposiveDesign(phone) {
  //   max-width: 60rem;
  // }

}